<link rel="stylesheet" href="css/estilosHome.css">

<link rel="stylesheet" href="css/ListaHabitacion.css">

<div class="view-icons pull-right"><a class="btn list-btn active" href="javascript:void(0)"><i class="fa fa-th-list"
      aria-hidden="true"></i></a><a class="btn grid-btn" href="javascript:void(0)"><i class="fa fa-th"
      aria-hidden="true"></i></a></div>
</div>

<div class="grid list-view">

  {{#each porentr}}
  <div class="grid-item" data-filter="best-price" data-price="899" data-guest_rating="8.8"
    data-recommended_rating="4.84">
    <div class="image">
      <div class="image-block"
        style="background-image: url('https://i.picasion.com/pic90/5aeca922acb0495f2c88b6968f2900cc.gif');"></div>
    </div>
    <div class="content">
      <div class="part1">
        <div class="title"><span>{{Tipo_Habitacion}}</span>
          <div class="item-label top-deal hidden">
            <div class="icon-label"></div>
          </div>
          <div class="item-label best-price">
            <div class="icon-label"></div>
          </div>
          <div class="hotel-rating"><img src="http://svgshare.com/i/2tQ.svg" alt="smiling icon" />
            <div class="rating">S/. {{Precio}}</div>
          </div>
        </div>
        <div class="rating-line">
          <div class="stars">
            <ul class="stars-hotel" data-stars="4.97">
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li class="hidden"><i class="fa fa-star-half" aria-hidden="true"></i></li>
            </ul>
          </div>
          {{!--  --}}
        </div>
        <div class="rooms-count not-active"><span>Cuenta con una cama simple</span></div>
        <div class="location"><span>{{Caracteristicas}}</span></div>

      </div>
      <div class="part2">
        <div class="price">
          {{!-- <div class="old-price hidden"><span>$520</span></div> --}}
          <div class="new-price"><span>s./{{Precio}}</span><span class="slash">/</span><span class="day">Día</span>
          </div>
        </div>
        {{!-- <input type="button" value="Buscar" /> --}}
        {{#if Estado}}
        <form action="/ReservacionRegistro" method="post">
          <div class="view-btn">
            <input type="hidden" name="idHabitacion" value="{{_id}}">
            <input type="hidden" name="precio" value="{{Precio}}">
            <input type="hidden" name="fecha_entrada" value="{{fecha_entrada}}">
            <input type="hidden" name="fecha_salida" value="{{fecha_salida}}">
            <input type="hidden" name="Nro_Habitacion" value="{{Nro_Habitacion}}">
            <input type="submit" class="btn view " style="background: green !important;width: 50%" aria-disabled="true" value="Reservar">
            {{!-- <a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Primary link</a> --}}

          </div>
        </form>
        {{else}}
        <div class="view-btn">

          <a class="btn view disabled" style="background: red !important;" href="/ReservacionRegistro">Reservado</a>
        </div>
        {{/if}}
        <div class="book-text"><span>Reserve ya casero</span></div>
        <div class="looking-text"><span>Reservaciones el tio walter</span></div>
      </div>
    </div>
  </div>
  {{/each}}
</div>